html,
body,
#canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#canvas {
  outline: none;
  // height: 1654px;
  // width: 1063px;
  // max-width: 1654px;
  // max-height: 1063px;
}
